.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.App-input {
  background: gainsboro;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 20px;
  color: dimgray;
}